:root {
    --background-color: #d4ccbe;
    --text-color: #222;
    background-color: var(--bg-color);
    font-family: 'Cascadia Mono', 'Source Code Pro', 'SF Mono', Menlo, Consolas, monospace;
}

#main {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #222;
    font-weight: 700;
    margin: 1em 0 0.5em;
    font-size: 32pt;
    min-height: 57px;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0 0.1em 0.2em 0.5em;
    min-height: 50px;
}

p {
    font-size: 0.5em;
    font-weight: 300;
    max-width: 40em;
    text-align: left;
    margin: 0 auto .7em;
}

a {
    font-weight: 400;
}

img {
    margin: 0 1em 0.7em;
}

input {
    width: 5em;
    font-family: 'Cascadia Mono', 'Source Code Pro', 'SF Mono', Menlo, Consolas, monospace;
    font-size: 12pt;
    font-weight: 300;
}

select {
    font-family: 'Cascadia Mono', 'Source Code Pro', 'SF Mono', Menlo, Consolas, monospace;
    font-size: 12pt;
    font-weight: 300;
}

label {
    font-family: 'Cascadia Mono', 'Source Code Pro', 'SF Mono', Menlo, Consolas, monospace;
    font-size: 12pt;
    font-weight: 700;
}

button {
    font-family: 'Cascadia Mono', 'Source Code Pro', 'SF Mono', Menlo, Consolas, monospace;
    font-size: 12pt;
    font-weight: 700;
    padding: 3px 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 2px solid #333;
    border-right-width: 0px;
    border-left-width: 0px;
    padding: 6px;
    padding: 5px 12px 5px 12px;
    font-size: 12pt;
}

td {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    font-weight: 300;
}

#explanation {
    margin-top: 30px;
}

.tooltip {
    position: relative;
    /* color: blue; */
    text-decoration: underline;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}